body {
  height: 100%;
}

.input input[type="text"]{
  outline:none;
  width: 300px;
  padding: 5px;
}
.input input[type="search"]{
  outline:none;
  width: 530px;
  padding: 3px;
  

}
textarea {
  width: 300px;
  height: 150px;
  resize: none;
}
.form {
  margin: 0 auto;
  max-width: 600px;
}
.errors {
  color: red;
}
.blogs {
  margin: 0 auto;
  max-width: 600px;
}
